* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    /*去除list前面的点*/
}

a {
    color: inherit;  /* 继承父元素的颜色 */
    text-decoration: none;  /* 移除下划线 */
}

a:visited {
    color: inherit;  /* 访问后的颜色仍然继承父元素 */
}

a:hover {
    color: inherit;  /* 鼠标悬停时不变色 */
}

a:active {
    color: inherit;  /* 点击时不变色 */
}

:root {
    --shd: -11.31px 11.31px 17px 0px rgba(138, 131, 124, 0.23); 
    --text-color-under-black: black;
    --background-color-header: rgb(250, 250, 250);
    --background-color-body: rgb(204, 204, 255);
    --theme-color-green: #9aa457;
}

/************************* Header*********************************************/

header {
    width: 100%;
    /* 设置header的高度为整个屏幕高度的百分之12 */
    height:10vh;
    top: 0px;
    z-index: 99;
    /* Display everything in flex layout */
    display: flex; 
    align-items: center;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .1);
    background-color: var(--background-color-header);
    color: var(--text-color-under-black);
    font-size: 20px;
}

.header_container {
    display: flex;
    justify-content: space-between;
    position: relative;
    /* max-width: 1600px; */
    margin: 0 auto;
    width: 100%;
    /* padding: 1vw 2.5vw; */
}

/******************** Header_left (个人姓名)************************/
.header_left{
    position: relative;
    margin-left: 5vh;
    display: flex;
    align-items: center;
}

.header_left li {
    font-family:'Poppins', sans-serif;
    font-size: 23px;
    font-weight: 700;
    /* justify-content: center; */
}

.header_left .header_space{
    font-size: 18px;
    font-weight: 300;
    padding: 0 10px;
}

#header_job_title{
    font-size: 18px;
    font-weight: 300;
}

#header_job_title ::after{
    border-right: 10px;
}

.header_left li::before {
    content: "";
    position: absolute;
    left: 0px;
    /* 先设置到高度的百分之50, 然后将将物体以Y轴向上移本体高度的一半以实现垂直居中. */
    top: 50%;
    transform: translateY(-50%) translateX(-140%);
    width: 15px; /* 自定义标记点的宽度 */
    height: 15px; /* 自定义标记点的高度 */
    background-color: var(--theme-color-green); /* 自定义标记点的颜色 */
    display: inline-block;
}


/******************** Header_list（页面切换文字）************************/
.header_list {
    display: flex;
    align-items: center;
    font-size: 14px;
    /* Vertically center the items */
}

.header_list li {
    float: left;
    /*使得list内容横向排列, 并且从左到右 */
    padding: 5px 25px;
    /* border-right: 1px solid white; */
}

.header_list :nth-child(5) {
    border: none;

}

h2 {
    font-weight: 600;
}

/******************** haeder_icon（位置，搜索和购物车icon）************************/
/* .icon_header {
    width: 35px;
    height: 35px;
} */

/* 使得图标垂直居中*/
/* .header_icon {
    display: flex;
    align-items: center;
}

.header_icon li {
    padding: 0 10px;
}  */



/*************************************Main content*************************************/
.main_container {
    /* background-image: url('img/占位图片3.jpg'); 
    /* cover: 保证比例，在图片大小不适配时，会进行缩小和放大和不等比例的部分会被切掉*/
    /* 还有contain和auto，但是不能填满全屏，或者不允许缩放*/
    /*background-size: cover; 
    background-position: center; 放置在container正中间 */
    height: calc(100vh - 16vh); /*自动计算，75px为header的height，实现铺满全屏 (vh: view-height , vw: view-width)*/
}


#background_left{
    width: 40%;
    height: 100%;
    background-color: #e4cea5;
}

#main_profile{
    display: flex;
    justify-content: space-between;
    gap: 70px;
    align-items: center;
    width: 820px;
    height: 526px;
    position: fixed;
/* header=10vh, footer = 16vh. Maincontainer = 84vh. 一半是42vh */
    top: calc(10vh + 42vh); 
    left: 40vw;
    /* 这里是25%的原因是 profile_left占据百分之50的宽度,他的百分之50是main_profile的25% */
    transform: translate(-22.865%, -50%);
}

#profile_left {
     /* 注意小写的 p */
    display: flex;
    flex-grow: 1;
    flex-direction: column; /* 垂直方向排列子元素 */
    align-items: center; /* 居中对齐子元素 */
    width: 375px;
    background-color: #f2e8d9;
    box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, .6));
    padding: 30px 0;
}

#profile_right {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    width: 375px;
}

.avatar {
    display: relative;
    width: 200px;              /* 设置容器的宽度 */
    height: 200px;             /* 设置容器的高度，保持与宽度一致 */
    border-radius: 50%;      /* 通过设置圆角来使容器变成圆形 */
    overflow: hidden;        /* 确保超出容器的图片部分被隐藏 */
    background-color: #f0f0f0; /* 设置一个背景颜色用于调试 */
}

.avatar img {
    width: 100%;             /* 让图片宽度适应容器 */
    height: 100%;            /* 让图片高度适应容器 */
    object-fit: cover;       /* 确保图片以填充的方式适应容器，避免变形 */
}

#profile_firstName{
    display: relative;
    font-family:'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-top: 20PX;
}

#profile_lastName {
    font-family:'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-top: -7px;
}

#profile_seperateLine {
    display: relative;
    background-color: var(--theme-color-green);
    width: 80px;
    height: 3px;
    margin: 20px;
}

.profile_jobTitle {
    display: relative;
    font-family:'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 300;
}

#linkedin-wrapper {
    display: relative;
    margin-top: 30px;
}

/*************profile_right************/
#profile_right {
    display: flex;
    gap: 10px;
    font-family:'Poppins', sans-serif;
    
}

#right_hello{
    font-size: 100px;
    font-weight: 800;
}

#right_subtitle{
    font-size: 30px;
    font-weight: 300;
}




/************************************Footer********************************************/
#footer {
    width: 100%;
    /* 设置footer的高度为整个屏幕高度的百分之8 */
    height: 6vh;
    bottom: 0px;
    z-index: 99;
    /* Display everything in flex layout */
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color-header);
    color: var(--text-color-under-black);
    font-family:'Poppins', sans-serif;
    font-size: 14px;
}

#footer_credit {
    margin-left: 5vh;
    
}

.footer_list {
    display: grid;
    grid-template-columns: repeat(3, 0.7fr);
    text-align: center;
    row-gap: 10px;
    margin: 5 0px
    /* align-items: center;
    justify-content: center; */
    /* gap: 10px; */
}

.item_header {
    font-weight: bold;
}

.item_content{
    font-weight: 300;
}


